*{
    font-family: "Lucida Console", Monaco, monospace;
}

body{
    background-image:url("/Images/Night.jpg");
    color:paleturquoise;
}

h1{
    font-size: 2.5em;
}

main{
    background-color:;
    font-size: 1.2em;
    width: 80%;
    margin: auto;
    border: 4px dashed black;
}



main p::first-letter{
    font-size: 40px;
    color: ;
}

    /* navigation menu style */


nav ul{
    list-style-type: none;
    padding: 0 0 5px 120px;
}

nav ul li{
    float: left;
    margin-right: 0.5cm;
}

nav ul li a{
    padding: 0.25cm 1cm
        text-decoration: none:/* no underline*/
        background-color: #EBF5FF;/* pale bluish white*/
        color: #4312AE;/* dark blue */
    border: 2px solid black;
    border-top-left-radius: 1cm 1cm; /* rounded corner! */
    border-top-right-raidus: 1cm 1cm; /* anouther rounded corner!*/
}
nav ul li a:hover, nav u li a: focus {
color: red;
background-color: white;
font-weight: bold;
}
